
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/editor.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <!-- Header Section -->
    <h1 class="page-title">
        <a href="/" id="back-button">←</a>
        Access Denied
    </h1>
    <p>Ask the owner of file for access</p>

