<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
<h1>Welcome, <%= user.displayName %></h1>

<a href="/file/new">Create New File</a>

<ul>
  <% files.forEach(file => { %>
    <li><a href="/file/<%= file._id %>"><%= file.title %></a></li>
  <% }) %>
</ul>

  <a href="/logout">Logout</a>
</body>
</html>
