<h1>Create New File</h1>

<form action="/file" method="POST">
  <input type="text" name="title" placeholder="Title" required><br>
  <input type="text" name="header" placeholder="Header"><br>
  <textarea name="body" placeholder="Body"></textarea><br>
  <button type="submit">Create</button>
</form>
